<h1>Your Tasks</h1>

<table class = "custom_class_blue_walls" border = "1">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Details</th>
    <th>Priority</th>
    <th>Completed</th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%="Task ##{task.id}."%></td>
    <td><%= task.title %></td>
    <td><%= task.details %></td>
    <td><%= task.priority %></td>
    <td>
      <%= check_box_tag "", "1", task.completed, {:disabled => true} %>
      <%= label_tag "", "", :name => "completed" %>
    </td>


    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
